<div class="pull-right icon">
    <i class="quality">HD</i>
</div>
<div class="title">No Game No Life <span>2014</span></div>

<div class="meta">
    <label>Scores:</label>
    <span>8.49</span>
</div>
<div class="meta">
    <label>Status:</label>
    <span>Completed</span>
</div>
<div class="meta">
    <label>Date aired:</label>
    <span>
                    Apr 09, 2014 to Jun 25, 2014
            </span>
</div>


<div class="meta">
    <label>Other names:</label>
    <span>
        No Game; No Life; NGNL; ノーゲーム・ノーライフ
    </span>
</div>

<div class="meta">
        <span>No Game No Life is a surreal comedy that follows Sora and Shiro, shut-in NEET siblings and the online gamer duo behind the legendary username "Kuuhaku." They view the real world as just another lousy game; however, a strange e-mail challenging them to a chess...</span>
</div>
