<div class="pull-right icon">
    <i class="quality">HD</i>
</div>
<div class="title">Overlord<span>2015</span></div>

<div class="meta">
    <label>Scores:</label>
    <span>8.04</span>
</div>
<div class="meta">
    <label>Status:</label>
    <span>Completed</span>
</div>
<div class="meta">
    <label>Date aired:</label>
    <span>
                    Jul 07, 2015 to Sep 29, 2015
            </span>
</div>

<div class="meta">
    <label>Other names:</label>
    <span>
        OverLord; オーバーロード
    </span>
</div>

<div class="meta">
        <span>The final hour of the popular virtual reality game Yggdrasil has come. However, Momonga, a powerful wizard and master of the dark guild Ainz Ooal Gown, decides to spend his last few moments in the game as the servers begin to shut down. To his...</span>
</div>
